div.svg {
    height:100%;
    overflow-y: hidden; 
    overflow-x: hidden;
    position: fixed;
    width: 100%;
}
body {
    background-color: #000;
}

.logo{
    display: block;
    height:100%;
    width: 100%;
}
.logo-img{
    display: block;
    height:300px;
    width: 300px;
    margin: 100px auto 0 auto;
}